

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color:rgb(79, 111, 82) ;  
}

.main{
    text-align: center;
}


.mainitem{
    display: block;
}








/* Winner displaying */

.New_game{
 display:none;
 margin-bottom: 500px;
}

.heading_main{
    color: rgb(186, 186, 65);
    font-size:100px;
    font-weight: 400;
}
.button_main{
    margin-top: 50px;
    color: white;
    border-radius: 20%;
    height: 50px;
    width: 30%;
    border: 4px solid rgb(140, 103, 103);
    background-color: black;
}




/* heading of game */
.heading_game{
    margin-bottom: 30px;
    color: chocolate;
    font-size: 70px;
}


/* designing Boxes */


.contained_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width:420px;
}

.box{
    height: 140px;
    width: 140px;
    background-color: rgb(210, 227, 200);
    border-radius: 10px;
    display: flex;
    font-size: 140px;
    justify-content: center;
    align-items: center;
    color: black;
    border: 3px solid black;
}


/* Reset button Css */
.reset-btn{
    background-color: rgb(115, 144, 114);
    border-radius: 20%;
    height: 50px;
    width: 30%;
    border: 5px solid black;
    color: white;
    margin-top: 20px;
}

